<div class="row" style="margin-top: 45px;margin-bottom: 4px;">
  <div class="col-span-2">
    <h1 style="line-height: 0px;display: inline-block;text-transform: uppercase;font-size: 31px;color: #226699;"> <%# current_user.merchant.name &apos;s%> Limits </h1>
  </div>
  <div class="col-span-6">
    <%= form_tag limits_path, :method => :get, :id=>"search-form", :style => "margin-top: 2px;", :remote => true do %>
      <div class="input-group span search-bar" style="width: 96%;">

        <input id="search" name="q" type="text" class=" " value="<%= @query %>">
        <span class="input-group-btn">
          <i class="search-reset glyphicon-remove glyphicon"> </i>
          <button class="btn btn-primary " type="submit">Search</button>
        </span>

      </div>
    <%end%>

  </div>
  <div class="col-span-4 tcenter">
    <%# link_to "Add new product", new_product_path, :remote => true, :class => "btn btn-primary btn-large", :style => "margin-left: 14px;" %>
    <a data-toggle="modal" href="#myModal" class="btn btn-primary" style="margin-left: 14px; margin-top:2px;">Add new limit</a>

  </div>
</div>
<div class="row">
  <div id="limits-container" class="col-span-8">
    <div class="list-loading">
      <div class="loading-inner">
        <i class="glyphicon glyphicon-refresh icon-spin"></i>
      </div>
    </div>
    <div id="limits-container-inner">
      <%= render 'limits_list', :limits => @limits, :testlimit => @l %>
    </div>
  </div>
  <div class="col-span-4">

  </div>
</div>