<div class="row">
  <div class="limit-search-container">
    <%= form_tag limits_path, :method => :get, :id=>"limit-search-form", :remote => true do %>
      <div class="span search-bar">
        <input id="search" name="q" type="text" class="wsearch" placeholder="Search for limits by category" value="<%= @query %>">
        <i class="search-reset glyphicon-remove glyphicon"> </i>
        <button class="icon-button" type="submit"><i class="glyphicon-search glyphicon"> </i></button>
      </div>
    <%end%>
  </div>
  <div class="limit-new-container tcenter">
    <%= link_to "Create a new limit", new_limit_path, :id => "newlimit",:remote => true, :class => "bbutton"%>

  </div>
</div>

<div class="row">
  <div id="limits-container" class="col-span-8">
    <div class="list-loading">
      <div class="loading-inner">
        <i class="glyphicon glyphicon-refresh icon-spin"></i>
      </div>
    </div>
    <div id="limits-container-inner">
      <%= render 'limits_list', :limits => @limits %>
    </div>
  </div>
  <div class="col-span-4">

  </div>
</div>