<h2>Sign up for an account</h2>

<legend >Pick the type of account: </legend>
<div class="row">
  <div class="col-offset-2 col-span-4">
    <%= link_to  client_registration_path, :method => 'get' do %>
        <div class="register-choice-panel shadow">
          <img class="register-image" src="http://www.colourbox.com/preview/1222921-44780-rear-view-of-people-shopping-at-supermarket.jpg" alt="people shopping">
          <div class="register-image-caption"><span class="type">Client</span><span class="caption">Sign up as a client</span></div>
        </div>
    <% end %>
  </div>
  <div class="col-span-4">
    <%=  link_to  merchant_registration_path, :method => 'get' do%>
        <div class="register-choice-panel shadow">
          <img class="register-image" src="http://yourbusiness.azcentral.com/DM-Resize/photos.demandstudios.com/getty/article/81/203/86486305.jpg?w=600&h=600&keep_ratio=1" alt="corporate selling" style="margin-left: -83px;">
          <div class="register-image-caption"><span class="type">Merchant</span><span class="caption">Sign up as a merchant</span></div>
        </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-offset-1 col-span-10 tcenter">
    <h3>Start enjoying the commodities of shopping with your smartphone.</h3>
    <h4>Stop worrying about money, location or spending control. We do all of that for you.</h4>
    </div>
</div>
<div class="row">
  <div class="col-offset-0 col-span-12 tcenter" style="margin-top: 20px;">
    <p>MobiWallet is a revolutionary system where clients and merchants can take advantage of a modern shopping way.</p>

    <div class="col-offset-1 col-span-5 just" style="margin-top: 20px;">
      <div class="media">

        <div class="media-body">
          <h4 class="media-heading">If you are a client,</h4>
          just charge your account, set your spending limits by category and start shopping anywhere, anytime: scan QR Codes all around!</div>
      </div>
    </div>
    <div class="col-span-5 just" style="margin-top: 20px;">
      <div class="media">

        <div class="media-body">
          <h4 class="media-heading">If you are a merchant,</h4>
          add your products to generate their QR Codes and place them wherever you want. Start selling everywhere, everytime.</div>
      </div>
    </div>


  </div>
</div>