<h2>Sign up for an account</h2>

<legend >Pick the type of account: </legend>
<div class="row">
  <div class="col-offset-2 col-span-4">
    <%= link_to  client_registration_path, :method => 'get' do %>
        <div class="register-choice-panel shadow">
          <img class="register-image" src="http://www.colourbox.com/preview/1222921-44780-rear-view-of-people-shopping-at-supermarket.jpg" alt="people shopping">
          <div class="register-image-caption"><span class="type">Client</span><span class="caption">Sign up as a client</span></div>
        </div>
    <% end %>
  </div>
  <div class="col-span-4">
    <%=  link_to  merchant_registration_path, :method => 'get' do%>
        <div class="register-choice-panel shadow">
          <img class="register-image" src="http://yourbusiness.azcentral.com/DM-Resize/photos.demandstudios.com/getty/article/81/203/86486305.jpg?w=600&h=600&keep_ratio=1" alt="corporate selling" style="margin-left: -83px;">
          <div class="register-image-caption"><span class="type">Merchant</span><span class="caption">Sign up as a merchant</span></div>
        </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-offset-2 col-span-8 tcenter">
    <h3>Start enjoying the commodities of shopping with ease</h3>
    <h4>Stop worrying about money and location. Just see. Want. Buy.</h4>
    </div>
</div>
<div class="row">
  <div class="col-offset-2 col-span-8 just">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nulla nunc, consequat ut consectetur sit amet, accumsan in mauris. Nullam ut metus ac mauris interdum porttitor nec ut erat. Quisque erat nulla, faucibus nec accumsan id, faucibus vel magna. Sed et nulla sit amet lacus congue tempor vitae eu justo. Nunc massa nibh, feugiat ac tincidunt eu, cursus at magna. Donec pharetra mauris sed eros condimentum vulputate. Phasellus velit massa, lobortis et dictum eu, placerat id nisi. Proin et purus urna. Nam non dictum lacus. Fusce ut velit leo, eu sodales libero. Sed sodales nulla vel elit scelerisque in auctor est malesuada. Sed a nisl id tellus imperdiet aliquam ac ac ligula. Cras faucibus nunc eget lorem feugiat venenatis.</p>
  </div>
</div>