<div class="row">
  <div class="client-statistics col-span-12" style="margin-top:8px;"  >

    <form action="#" id="client-stat-form" style="margin-right: 9px; float:right;">


      <button class="history icon-button" type="submit"  style="float:right;margin-right:6px;" ><i class="glyphicon-search glyphicon"> </i></button>
      <div class="history-date-selector-container"  style="float:right;">
        <span class="date-title"><i class="glyphicon glyphicon-calendar"> </i>TO</span>
        <span id="to" class="date-content"><span class="mock-date">TODAY</span><span class="down-arrow">&#x25BC;</span></span>

      </div>

      <div class="history-date-selector-container" style="float:right;">
        <span class="date-title"><i class="glyphicon glyphicon-calendar"> </i>FROM</span>
        <span id="from" class="date-content"><span class="mock-date">A MONTH AGO</span><span class="down-arrow">&#x25BC;</span></span>
        <%# text_field_tag "starting", Time.now.to_date, :class => "datepicker" %>
      </div>




    <div id="client-stats-one" class="history-products-container clearfix home-stats">
      <div class="history-header">
        <span class="home-cart-title">
          <span class="cart-title-sub">Statistics</span>

        </span>
      </div>

      <div class="stats-chart-container">

        <div id="client-stats-pie" class="home-stats-chart"></div>
        <div class="stats-loader loading"></div>
      </div>

      <div style="height:34px;">
        <%= collection_select "statistic","category_id", Category.all, :id, :name, options ={:prompt => "All categories", :selected => 0,}, :style => "width: 300px;float: right;margin-right: 6px;"  %>
      </div>

      <div class="stats-chart-container">

        <div id="client-stats-bar" class="home-stats-chart"></div>
        <div class="stats-loader loading"></div>
      </div>

    </div>


    </form>
    </div>

  </div>
</div>