<% self.formats = [:json, :html] %>
<div class="client-history-container-inner">
  <div class="row">
  <%if carts.nil? or carts.empty? %>

      <div class="col-span-12 tcenter">
        <span>No history</span>
      </div>

  <%end%>


  <% carts.each do |c| %>
    <div class="history-header">
      <%= c.updated_at.to_date %>
    </div>
    <div class="history-products-container">
      <% c.items.each do |i| %>
          <% if filter_categories(i.product,categories) %>
            <%= render 'client_product', item: i %>
          <% end %>
      <%end %>
    </div>
  <%end%>
  </div>

  <div class="row">
    <div class="col-span-12 tcenter">

      <%= paginate carts, :remote => true, params: {controller: "histories", action: "index", :id => nil, :utf8 => nil, :authenticity_token => nil,
                                                       :category => nil, :product => nil, :commit => nil } %>
    </div>
  </div>

</div>