<%= form_for resource, :remote => true, :html => {:multipart => true, :class => "settings-avatar-form", :data => { :type => 'json' }} do |f| %>
  <div class="control-group">
    <%= f.label :avatar, "Company logo", :class => "control-label"%>
    <div class="controls">
      <div class="settings-avatar-image-container">
        <%= image_tag resource.avatar.url, :class => "settings-avatar-image" %>
      </div>
      <%= f.file_field :avatar, :title => "Select a file to upload"%>
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
<%end%>