<div class="row">
  <div class="col-span-9">
    <div class="credit-page">
      <h1>Credit account</h1>
      <div class="credit-form-container">
        <%= render 'credit_form' , result: @result  %>
      </div>
    </div>
  </div>
</div>
