//scss variables
$ptblue: #428bca; /*#4085a1;     */
$lightblack: #363636;
$oldblue: #357ebd;
$blue: #226699;
$greywhite: #fbfbfb;

body{
  #background-image: url(/assets/bg.png);
}

@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}
//all scss must be explicitly imported here
//@import "foundation_and_overrides.scss";
@import "bootstrap.css";
//@import "font-awesome.min.css";
@import "auth.scss";
@import "footer.scss";
@import "products.scss";
@import "merchants.scss";
@import "limits.scss";
@import "jquery-ui-1.10.2.custom.min.css";





//scroll
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #FFF;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
}
::-webkit-scrollbar-thumb {
  background: #CCC;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:hover {
  background: #AAA;
}
::-webkit-scrollbar-thumb:active {
  background: #888;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
}


//global applicaion css

//test css
.red{background-color: red;}
.green{background-color: green;}
.margins{margin: 5px;}

 //helpers
.block{ display: block !important; }
.inline{ display: inline-block !important; }
.up{ display:block; height: inherit; }
.side{ display:block; width:inherit; }
.box{box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box; }
.tcenter{ text-align: center; }
.bcenter{ margin: 0 auto; }
.just{ text-align: justify; }
.shadow{ -webkit-box-shadow: 1px 1px 1px #cbcbcb;-moz-box-shadow: 1px 1px 1px #cbcbcb;box-shadow: 1px 1px 1px #cbcbcb; }
.relative{ position: relative;}

.fade{
  opacity: 0;
  transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
}

.fade.show{
  opacity: 1;
}

body{
  background-color:$greywhite;
  color: rgba(51, 51, 51, 0.8);
}

#header{
  #background-color: $blue;
  #background-color: white;

  height: 95px;
  margin-bottom: 10px;
  #border-bottom: 1px solid $ptblue;
  box-sizing: content-box;
}

#header-logo{
  padding-top: 15px;
  padding-bottom: 15px;
  display: none;
}

#register-link{
  cursor: pointer;
}

body,html{
  font-family: 'PT sans','Helvetica',Arial,sans-serif;
}

.field_with_errors,
.form-error-label{
  color: #b94a48;
  display: inline;
  border-color: #b94a48 !important;
}
.field_with_errors input{
  border-color: #b94a48;
}

.red-asterisk{
  color: #b94a48;
}

.header-btn-toolbar{
  margin-top: 38px;
  margin-right: 20px;
}

.header-btn-toolbar .btn-group > .btn  {
  background-color: $greywhite;
  color: $blue;
  border: none;
  font-weight: 700;
}

.header-title{
  #color: $greywhite;
  color: $blue;
  font-size: 35px;
  line-height: 90px;
  #font-weight: 700;
  letter-spacing: 2px;
}

.btn-primary{
 #background-color: $blue;
  #border-color: $blue;
}

.header-btn{
  color: darken($blue,10%);
  text-transform: uppercase;
  font-size: 17px;
  letter-spacing: 2px;
  margin-left: 21px;
  text-decoration: none !important;
}

.three-dots{
  display: inline-block;
}

.three-dots div{
  width: 4px;
  height: 4px;
  background-color: rgb(182, 182, 182);
  margin: 3px;
}

.three-dots.horizontal div{
  display: inline-block;
  margin: 2px;
}

.three-dots:hover div{
  background-color: rgb(151, 151, 151);
}

.icon-spin{
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); }
}
@-o-keyframes spin {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(359deg); }
}
@-ms-keyframes spin {
  0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(359deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}

.alert{
  margin-left: 35px;
}

.error-tooltip{
  top: 21px;
  right: 3px;
  display: block;
  cursor: pointer;
}

.error-tooltip .tooltip-inner,
.error-tooltip .tooltip-inner span{
  background-color: rgba(#b94a48, 1);
  color: white;
}

.error-tooltip .tooltip-arrow{
  border-bottom-color: rgba(#b94a48, 1) !important;
  right: 7px !important;
  left:  auto !important;
}

.bigger-btn-padding{
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

input.invi-input{
  width: 59px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
  min-height: 0;
}

input.invi-input:focus{
  box-shadow: none;
}

