//scss variables
$ptblue: #428bca; /*#4085a1;     */
$lightblack: #363636;
$oldblue: #357ebd;
$blue: #226699;
$greywhite: #fbfbfb;


@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

@mixin timing-animation($type){
  animation-timing-function:$type;
  -webkit-animation-timing-function:$type; /* Safari and Chrome */
}

@mixin animation($delay, $duration, $animation) {
  -webkit-animation-delay: $delay;
  -webkit-animation-duration: $duration;
  -webkit-animation-name: $animation;
  -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

  -moz-animation-delay: $delay;
  -moz-animation-duration: $duration;
  -moz-animation-name: $animation;
  -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

  -o-animation-delay: $delay;
  -o-animation-duration: $duration;
  -o-animation-name: $animation;
  -o-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $animation;
  animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}

@mixin keyframe($animation_name) {
  @-webkit-keyframes $animation_name {
    @content;
  }

  @-moz-keyframes $animation_name {
    @content;
  }

  @-o-keyframes $animation_name {
    @content;
  }

  @keyframes $animation_name {
    @content;
  }
}

@mixin background($from,$to){
  background-color: $to;
  background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
  background-image: -webkit-linear-gradient(top, $from, $to);
  background-image: -moz-linear-gradient(top, $from, $to);
  background-image: -ms-linear-gradient(top, $from, $to);
  background-image: -o-linear-gradient(top, $from, $to);
  background-image: linear-gradient(top, $from, $to);
}
//all scss must be explicitly imported here
//@import "foundation_and_overrides.scss";
//@import "gothicleague.css";
@import "bootstrap.scss";
//@import "font-awesome.min.css";
@import "auth.scss";
@import "footer.scss";
@import "products.scss";
@import "market.scss";
@import "limits.scss";
@import "settings.scss";
@import "histories.scss";
@import "jquery-ui-1.10.2.custom.min.scss";



//global applicaion css

//test css
.red{background-color: red;}
.green{background-color: green;}
.margins{margin: 5px;}

 //helpers
.block{ display: block !important; }
.inline{ display: inline-block !important; }
.up{ display:block; height: inherit; }
.side{ display:block; width:inherit; }
.box{box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box; }
.tcenter{ text-align: center; }
.bcenter{ margin: 0 auto; }
.just{ text-align: justify; }
.shadow{ -webkit-box-shadow: 1px 1px 1px #cbcbcb;-moz-box-shadow: 1px 1px 1px #cbcbcb;box-shadow: 1px 1px 1px #cbcbcb; }
.relative{ position: relative;}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
  border-radius: 1px;
}

.fade{
  opacity: 0;
  transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
}

.fade.show{
  opacity: 1;
}

body{
  background-color:#f6f6f6;
  color: #555;
  background-image: url(cross_scratches.png);
}

#header{
  #background-color: #fff;
  height: 70px;
  box-sizing: content-box;
  #border-bottom: 1px solid rgba(180, 180, 180, 0.43);
  #box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
  z-index: 2;
  position: relative;
}

#header-logo{
  width: 49px;
}

#register-link{
  cursor: pointer;
}

body,html{
  font-family: 'Open Sans','Helvetica Neue','PT sans','Helvetica',Arial,sans-serif;
}

.field_with_errors,
.form-error-label{
  color: #b94a48;
  display: inline-block;
  border-color: #b94a48 !important;
}

.field_with_errors:first-letter,
.form-error-label:first-letter{
  text-transform: uppercase;
}

.field_with_errors input{
  border-color: #b94a48;
}

.red-asterisk{
  color: #b94a48;
}

.header-btn-toolbar{
  #margin-top: 38px;
  #margin-right: 20px;
}

.header-btn-toolbar .btn-group > .btn  {
  background-color: $greywhite;
  color: $blue;
  border: none;
  font-weight: 700;
}

.header-title{
  color: #428bca;
  font-size: 37px;
  font-weight: 700;
  line-height: 56px;
  vertical-align: middle;
}

.btn-primary{
 #background-color: $blue;
  #border-color: $blue;
}

.header-btn{
  color: darken($blue,10%);
  text-transform: uppercase;
  font-size: 17px;
  letter-spacing: 2px;
  margin-left: 21px;
  text-decoration: none !important;
}

.three-dots{
  display: inline-block;
}

.three-dots div{
  width: 4px;
  height: 4px;
  background-color: rgb(182, 182, 182);
  margin: 3px;
}

.three-dots.horizontal div{
  display: inline-block;
  margin: 2px;
}

.three-dots:hover div{
  background-color: rgb(151, 151, 151);
}

.icon-spin{
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); }
}
@-o-keyframes spin {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(359deg); }
}
@-ms-keyframes spin {
  0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(359deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}

.alert{
  margin-left: 35px;
}

.error-tooltip{
  top: 21px;
  right: 3px;
  display: block;
  cursor: pointer;
}

.error-tooltip .tooltip-inner,
.error-tooltip .tooltip-inner span{
  background-color: rgba(#b94a48, 1);
  color: white;
}

.error-tooltip .tooltip-arrow{
  border-bottom-color: rgba(#b94a48, 1) !important;
  right: 7px !important;
  left:  auto !important;
}

.bigger-btn-padding{
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

input.invi-input{
  width: 59px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
  min-height: 0;
}

input.invi-input:focus{
  box-shadow: none;
}

#menu-container{
  border-bottom: 1px solid rgba(184, 184, 184, 0);
  height: 38px;
}

.menu-item:first-child{
  margin-left: 0px;
}

.menu-item{
  padding: 9px 25px 8px 25px;
  margin: 0px 4px;
  float: left;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  padding-bottom: 8px;
  font-weight: 600;
}

.menu-item:hover:not(.active){
  text-decoration: none;
  color: #428bca;

  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.88);

}

.menu-item.active{
  text-decoration: none;
  background-color: #fff;
  color: #428bca;
  padding: 9px 25px 8px 25px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
  z-index: 4;
  position: relative;
}

input.wsearch:focus{
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
}

input.wsearch{
  border: none;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
  padding: 12px;
  border-radius: 1px;
}

button.icon-button{
  background-color: transparent;
  border: none;
  position: absolute;
  right: 20px;
  display: block;
  top: 12px;
  font-size: 17px;
  color: rgb(158, 158, 158);
}

.search-bar:hover .search-reset{
  opacity: 1;
}

.search-reset{
  cursor: pointer;
  display: block;
  position: absolute;
  right: 54px;
  top: 15px;
  font-size: 14px;
  color: rgba(200, 200, 200, 0.36);
  opacity: 0;
  @include transition(opacity,0.2s,ease-in);
}

.bbutton{
  background-color: #4d90fe;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4d90fe), to(#4787ed));
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -ms-linear-gradient(top, #4d90fe, #4787ed);
  background-image: -o-linear-gradient(top, #4d90fe, #4787ed);
  background-image: linear-gradient(top, #4d90fe, #4787ed);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4d90fe',EndColorStr='#4787ed');
  border: 1px solid #3079ed;
  color: white !important;
  width: 100%;
  display: block;
  height: 100%;
  line-height: 42px;
  border-radius: 1px;
  font-weight: 600;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
}

.bbutton:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  background-color: #357ae8;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#357ae8));
  background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
  background-image: linear-gradient(top,#4d90fe,#357ae8);
  border-color: #2f5bb7;
  text-decoration: none;
}

.main-avatar-container{
  width: 40px;
  height: 40px;
  background-color: #EEE;
  border: 3px solid #fff;
  box-shadow: 0px 0px 1px 0px black;
  float: left;
  position: relative;
}

.main-avatar-image{
  display: inline-block;
}

.profile-down-arrow{
  position: absolute;
  right: -22px;
  top: -3px;
  background-color: #fff;
  padding: 10px 2px;
  box-shadow: 0px 0px 1px 0px black;
  color: #555;
}

.header-info-block{
  float: right;
  padding: 3px 7px;
  #background-color: #fff;
  #box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
  margin-top: 8px;
  margin-right: 13px;
}

.header-credit{
  float: left;
  padding: 11px 8px;
  #color: #428bca;
}

.header-name{
  float: left;
  padding: 11px 15px;
  font-size: 15px;
  font-weight: 100;
  #color: #428bca;
}

.profile-dropdown-container{
  display: block;
  position: absolute;
  background-color: white;
  right: 16px;
  top: 52px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: -1;
}

.profile-dropdown-container ol{
  list-style: none;
  margin: 0;
  padding: 3px 0px;
}

.profile-dropdown-container ol li a{
  display: block;
  padding: 3px 21px;
  margin: 2px 0px;
  text-decoration: none;
  color: #444;
}

.profile-dropdown-container ol li a:hover{
  background-color: #DDD;
}

.search-bar input{
  padding-right: 70px;
}