//scss variables
$ptblue: #428bca; /*#4085a1;     */
$lightblack: #363636;

//all scss must be explicitly imported here
//@import "foundation_and_overrides.scss";
@import "bootstrap.css";
//@import "font-awesome.min.css";
@import "auth.scss";
@import "footer.scss";

//global applicaion css

//test css
.red{background-color: red;}
.green{background-color: green;}
.margins{margin: 5px;}

 //helpers
.block{ display: block !important; }
.inline{ display: inline-block !important; }
.up{ display:block; height: inherit; }
.side{ display:block; width:inherit; }
.box{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.tcenter{ text-align: center; }
.bcenter{ margin: 0 auto; }

.shadow{
  -webkit-box-shadow: 1px 1px 1px #cbcbcb;
  -moz-box-shadow: 1px 1px 1px #cbcbcb;
  box-shadow: 1px 1px 1px #cbcbcb;
}


body{
  background-color:#fbfbfb;
}

#header{
  background-color: white;
  height: 80px;
  margin-bottom: 10px;
  border-bottom: 1px solid $ptblue;
  box-sizing: content-box;
}

#header-logo{
  padding-top: 15px;
  padding-bottom: 15px;
}

#register-link{
  cursor: pointer;
}

body,html{
  font-family: 'PT sans','Helvetica',Arial,sans-serif;
}

.field_with_errors,
.form-error-label{
  color: #b94a48;
  display: inline;
}
.field_with_errors input{
  border-color: #b94a48;
}

.red-asterisk{
  color: #b94a48;
}