.history-search-container{
  margin-top: 10px;
  width: 350px;
  position: relative;
  margin-left: 15px;
  float: left;
}

.history-container .search-bar{
  margin-right: 0px;
}


.history-container .search-bar input{
  padding-right: 25px;
}

.history-date-selector-container{
  float: left;
  #width: 180px;
  height: 44px;
  padding: 12px;
  overflow: hidden;
  margin-left: 8px;
  position: relative;
  background-color: white;
  -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.history-date-selector-container .date-title{
  vertical-align:middle;
}

.history-date-selector-container .date-title i{
  vertical-align:middle;
}

.history-date-selector-container input:focus{ box-shadow: none;}
.history-date-selector-container input,
.history-date-selector-container .date-content
  {
  width: 75px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
  min-height: 0;
  cursor: pointer;
  color: #B6B6B6;
  vertical-align: text-top;
}
.history-date-selector-container .date-content
{
  vertical-align: middle;
  line-height: 20px;
}

.down-arrow{
  color: #B6B6B6;
  padding-left: 4px;
  font-size: 12px;
  vertical-align: middle;
}

.history.icon-button{
  background-color: #fff;
  border: none;
  position: initial;
  font-size: 17px;
  color: #9e9e9e;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
  float: left;
  height: 44px;
  padding: 14px 15px 10px 15px;
  margin-top: 10px;
  margin-left: 8px;
}

.history.search-reset{
  right: 8px;
}

.client-history-container{
  padding: 0 15px;
}

.history-header{
  display: block;
  margin-bottom: 6px;
  color: rgba(85, 85, 85, 0.75);
  padding: 6px 10px;
  font-weight: 600;
  margin-left: 5px;
}

.history-products-container{
  display: block;
  margin-bottom: 15px;
  background-color: rgba(182, 182, 182, 0.09);
  padding-top: 7px;

}

.client-history-product{
  margin-right: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
  width: 225px;
  float:left;
}

.product-namebrand .company{
  display: block;
  color: #999;
}

.product-namebrand .company i{
  margin-right: 3px;
  vertical-align: middle;
}

.product-container.client-history-product .product-triangle-color{
  border-right:185px solid transparent;
}

.product-container.client-history-product .stock-cont{
  left: initial;
  right: 13px;
  text-align: right;
}


.cart-title-sub{
  margin-right: 32px;
  font-weight: 400;
}

.cart-title-sub i{
  font-size: 18px;
  vertical-align: initial;
}

.cart-title-sub:nth-child(1){
  font-weight: 500;
}

.cart-title-sub small{
  font-weight: 300;
  margin-right: 2px;
}