.product-container2{
  display: inline-block;
  width: 225px;
  height: 108px;
  background-color: white;
  overflow: hidden;
  margin-right: 4px;
  margin-bottom: 5px;
  border-radius: 1px;
  position: relative;
  -webkit-box-shadow: 1px 1px 1px #cbcbcb;
  -moz-box-shadow: 1px 1px 1px #cbcbcb;
  box-shadow: 1px 1px 1px #cbcbcb;
}

.product-container{
  display: inline-block;
  width: 225px;
  height: 108px;
  background-color: white;
  overflow: hidden;
  margin-right: 4px;
  margin-bottom: 5px;
  border-radius: 1px;
  position: relative;
  background: rgba(255, 255, 255, 0.7);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
 }

.product-triangle-color{
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-bottom: 40px solid transparent;
  border-right: 185px solid transparent;
  border-left: 40px solid rgb(0, 128, 0);
  border-left-color: inherit;
  pointer-events: none;

}

.product-image{
  display: inline-block;
  width: 74px;
  margin: 0 6px;
  overflow: hidden;
  height: 74px;
  background: whitesmoke;
  float: left;
}

.product-image img{
  height: 74px;
  width: auto;
  max-width: none;
}

.product-data{
  display: inline-block;
  width: 134px;
  margin-right: 5px;
  height: 74px;
}

.product-data span.brand{
  color: #999;
}

.product-data .price-stock{
  border-radius: 2px;
  position: absolute;
  bottom: 6px;
}

.product-data .price{
  display: inline-block;
  padding: 3px;
  background-color: rgba(0, 128, 0, 0.23);

  color: white;
}

.product-data .quantity{
  display: inline-block;
  padding: 3px;
  #background-color: white;
  border-radius: 2px;
  color: #b6b6b6;
}

.product-data .quantity i{
  font-size: 12px;
  display: inline-block;
  margin-left: 5px;
  float: right;
  padding-top: 2px;
}

.product-category{
  height: 22px;
  #background-color: rgba(0, 128, 0, 0.23);
  margin-bottom: 6px;
  color: rgba(0, 128, 0, 0.23);
  font-weight: 700;
  text-align: right;
  padding-right: 8px;
  #cursor: pointer;
}

.product-container:hover .product-category .glyphicon{
  display: inline;
  cursor: pointer;
}

.product-container .edit-button{
  position: absolute;
  bottom: 0px;
  right: 3px;
  cursor: pointer;
}


.product-category .glyphicon{
  font-size: 11px;
  margin-right: 4px;
  display: none;
}

.product-info-panel{
  height: 580px;
  padding: 0;
  width: 225px;
  background-color: white;
  overflow: hidden;
  margin-right: 4px;
  margin-bottom: 5px;
  border-radius: 1px;
  position: relative;
  background: rgba(255, 255, 255, 0.7);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  display: none;
}

.product-info-panel.show{
   display: block;
}

.edit-button .glyphicon{
  font-size: 16px;
  display: inline-block;
  margin-left: 20px;
  margin-top: 4px;
  color: #979797;
  transition: margin 0.1s;
  -moz-transition: margin 0.1s;
  -webkit-transition: margin 0.1s;
}

.edit-button .edit-icon{
  overflow: hidden;
  display: inline-block;
  float: left;
  height: 24px;
  width: 20px;
}

.edit-button:hover .glyphicon{
  margin-left:2px;
}

.product-list-loading{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

.product-list-loading.show{
  display: block;
}

.product-list-loading.show+#products-container-inner{
  opacity: 0.7;
}

.product-loading-inner{
  position: relative;
  text-align: center;
  height: 100%;
}

.product-loading-inner .glyphicon{
  font-size: 30px;
  position: absolute;
  top: 50%;
  margin-top: -60px;
}

.edit-loading{
  position: absolute;
  width: 100%;
  height: 100px;
  text-align: center;
  display: none;
  z-index: 2;
}

.edit-loading.show{
  display: block;
}

.edit-loading i{
  font-size: 45px;
  margin-top: 55px;
}

#product-info-inner{
  #padding: 10px;
}

#product-info-inner .category-title{
  width: 100%;
  padding: 7px 2px 8px 17px;
  color: white;
  font-size: 21px;
  position: absolute;
  margin-top: 70px;
}

#product-info-inner .category-image{
  width: 100%;
  overflow: hidden;
  height: 105px;
  z-index: 1;
}

#product-info-inner img{
  width: 100%;
  max-width: none;
}

#product-info-inner .product-data-container{
  padding: 5px 10px;
}

#product-info-inner .qrcode{
  width: 125px;
  margin: 7px auto;
  display: block;
  display: none;
}