<% self.formats = [:json, :html] %>

<div class="category-title" <%= category_color('background-color',product)%> ><%= product.categories.first.name %></div>
<div class="category-image"><%= image_tag product.categories.first.image %></div>
<div class="product-data-container">
  <%# qrcode_image_for product.qrcode, :class => "qrcode" %>

  <%= render 'form', product: product, submit_name: 'Update' %>
</div>
<p style=""></p>