<% self.formats = [:json, :html] %>
<%if products.nil? or products.empty?%>
  <div class="row">
    <div class="col-span-12 tcenter">
      <span>No products found</span>
    </div>
  </div>
<%else%>

  <% products.each do |p|  %>
    <%= render "container", product: p %>
  <%end%>
<%end%>
<div class="row">
  <div class="col-span-12 tcenter">
    <%= paginate products, :remote => true, params: {controller: "products", action: "index", :id => nil, :utf8 => nil} %>
  </div>
</div>