<h1> <%= current_user.merchant.name %>&apos;s Products </h1>
<div class="row">
  <div class="col-span-9">
    <%if @products.nil? %>
      <p>No products</p>
    <%else%>
      <% @products.each do |p|  %>

          <%= render "container", product: p %>

      <%end%>
    <%end%>
    <div class="row">
      <div class="col-span-9 tcenter">
        <%= paginate @products %>
      </div>
    </div>

  </div>
  <div class="col-span-3">
     <div class="product-info-panel">

     </div>
  </div>
</div>