<% self.formats = [:json, :html] %>
<div class="tooltip fade bottom in error-tooltip">
  <div class="tooltip-arrow">
    </div><div class="tooltip-inner">
      <%=  message %> <%=("&times;").html_safe %>
    </div>
  </div>