<!DOCTYPE html>
<html>
<head>
  <title>MobileMoneyEcosystem</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div style="width:100%;background: black;height: 100px;text-align: center;">
    <span style=" font-size: 6em; color: white; line-height: 1em;"> A CABEÇA</span>
</div>

<%= yield %>

</body>
</html>
